[Unit]
Description=Gitea Project Management program
After=network.target

[Service]
Type=simple
Restart=on-failure
User=_gitea
RootDirectory=/
WorkingDirectory={{ gitea_install_path }}
ExecStart={{ gitea_install_path }}/{{ gitea_binary }} web -p {{ gitea_http_port }} 

[Install]
WantedBy=multi-user.target
